*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #f1fbff;
}

.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    
}
.carousel-item {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* Establece las imágenes de fondo para cada diapositiva */
.carousel-item:nth-child(1) {
    background-image: url('img/home-1.jpg');
}

.carousel-item:nth-child(2) {
    background-image: url('img/home-2.jpg');
}

.carousel-item:nth-child(3) {
    background-image: url('img/home-3.jpg');
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff; /* Color del texto */
    text-align: center;
}

/*logo carousel section */

/* Estilos para el contenedor del carrusel de logos */
.logo-carousel-section {
    padding: 40px 0;
    background-color: #f9f9f9; /* Color de fondo opcional */
}

/* Estilos para el carrusel */
.logo-carousel-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.single-logo-item {
    flex: 0 0 auto;
    max-width: 20%; /* Ajusta según la cantidad de logos visibles */
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.single-logo-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .single-logo-item {
        max-width: 33.33%; /* Tres logos visibles en pantallas medianas */
    }
}

@media (max-width: 576px) {
    .single-logo-item {
        max-width: 50%; /* Dos logos visibles en pantallas pequeñas */
    }
}

@media (max-width: 400px) {
    .single-logo-item {
        max-width: 100%; /* Un logo visible en pantallas muy pequeñas */
    }
}



/* Estilo adicional para pantallas pequeñas */
@media (max-width: 1200px) and (min-width: 375px) {
    .carousel-caption {
        padding: 10px; 
        font-size: 1rem; 
    }
}

.carousel-caption h5 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 24px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}
.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-nav{
    text-align: center;
}
.container a.navbar-brand span.text-warning {
    color: #FD4D04 !important;
}

.navbar-light .navbar-brand{
    color :#000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-bar .navbar-link{
    color: #000;
}
.nav-item {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.4s ease-in-out;
}
.nav-item a{
    font-size: 1.4rem;
    font-weight: 400;
}

.nav-item:hover {
    transform: scale(1.1);
}
.w-100{
    height: 100vh;
}

.about-section-padding .container .row{
    display: flex;
    align-items: center;
    justify-content: center;
}    
.img-fluid{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 15px;
}
/*carrousel*/
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.8;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: #1977cc;
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center
	}
	.carousel-caption {
		bottom: 165px
	}
	.carousel-caption h5 {
		font-size: 40px
	}
    .carousel-caption p {
        font-size: 18px;
    }
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 14px
	}
	.navbar .appbtn {
		display: none;
	}
}



@media (max-width: 1200px) and (min-width: 375px) {
    .carousel-item img {
        height: auto; 
    }
}
/*wsp button*/
.whatsapp-button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 999; 
    background-color: #25D366; 
    color: white; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s; 
}
.whatsapp-button img {
    width: 60px;  /* Ajusta el tamaño según sea necesario */
    height: 100px; /* Ajusta el tamaño según sea necesario */
}

.whatsapp-button:hover {
    background-color: #1EBE55; 
}

.whatsapp-button i{
    font-size: 30px;
}
/*about*/

#about{
  background: #e7e7e7;  
}
.about-text h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.about-text p{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    font-weight: 400;
}



.about .content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .about .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding: 10px 0 0 28px;
    position: relative;
  }
  
  .about .content ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: #FD4D04;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }

/*termina about */

/*empieza sectores */


/*termina sectores/*
/*empieza cta, brochure*/

.cta {
  background: linear-gradient(rgba(66, 84, 81, 0.5), rgba(43, 56, 54, 0.5)), url("img/banner1.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cta h3 {
  color: #f7f7f7;
  font-style: 60px;
  font-weight: 500;
}

.cta .cta-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  text-decoration: none;
  border: 2px solid #FD4D04;
  background: #FD4D04;
  color: #ffffff;
}

.cta .cta-btn:hover {
  background: #ffffff;
  border: 1px solid #FD4D04;
  color: #FD4D04;
}


/*animaciones*/
/* Estilos para la animación de desplazamiento */

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-left {
    opacity: 0;
    animation: slideInLeft 0.7s forwards;
}

.animate-right {
    opacity: 0;
    animation: slideInRight 0.7s forwards;
}

.hidden {
    visibility: hidden;
}

/*services*/
.services{
  background: #f5f8fd;  
    
}

.services .container .row{
    display: flex;
    align-items: center;
    justify-content: center;
}  

.services .icon-box {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
  }
  
  .services .icon-box i {
    float: left;
    color: #FD4D04;
    font-size: 40px;
  }
  
  .services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .icon-box h4 a {
    color: #556270;
    transition: 0.3s;
  }
  
  .services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
  }
  
  .services .icon-box:hover h4 a {
    color: #FD4D04;
  }

/*footer*/

  
  #footer{
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .btn-conteiner{
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
    .btn-conteiner p{
        display: flex;
        justify-content: center;
        font-size: 16px;
    }
    .btn-conteiner .btn-redes{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: aliceblue;
        line-height: 50px;
        font-size: 30px;
    }
.btn-redes {
    display: inline-block;
    transition: background-color 0.5s, border-color 0.5s;
    background-color: #FD4D04; 
    color: #ffffff;
    
}

.btn-redes:hover {
    background-color: #ffffff; 
    border-color: #FD4D04; 
    border: 1px solid #FD4D04;
    color: #FD4D04;
}
.trademark {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffffff; 
    font-size: 12px; 
    z-index: 999; 
}





